/* .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */


.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    text-align: center;
}
:root {
    /* Dark mode colors */
    --clr-dark-background: #202020;
    --clr-dark-foreground: #333533;
    --clr-dark-text: #d6d6d6;
    --clr-dark-primary:#e4504bb2;
    --clr-dark-alt:#102542;
    
    /* Light mode colors */
    --clr-light-background:#ffffff;
    --clr-light-foreground:#f5f3f4;
    --clr-light-text:#202020;
    --clr-light-primary:#ba181b;
    --clr-light-text-alt:#8ab6d8;
    --shadow:0 5px 10px rgba(15, 15, 17, 0.05), 0 15px 20px rgba(0, 0, 0, 0.082);
}
html {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    flex:auto;
    flex-direction: column;
    background-color: #d6d6d6;
    align-items: center;
    justify-content: center;
}
#row1 {
    justify-content: space-between;
}

#row1 > .btn-blank {
    background-color: var(--clr-dark-background);
    border:none;
    box-shadow: none;
}

.btn-equals {
    width: 10rem;
    height: 5rem;
}
.display-container {
    box-sizing: border-box;
    height:5rem;
    border-radius: 20px 20px 0px 0px;
}

.display-top {
    overflow: scroll;
    height: 2rem;
    margin: 0;
}

.display__element__container__top {
    font-size: 12px;
    flex:0 1 auto;
    margin: 2rem 0rem 2rem 0rem;
   
}

#displayTopContainer {
    height: 1rem;
    font-size: 20px;
    white-space:nowrap;
}

.display__element__container__bottom{
    display: flex;
    gap:.3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 26px;
    height: 5rem;
}

#display {
    /* width: 100%; */
    height: 11rem;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    padding:.5rem;
    border-radius: 20px 20px 0px 0px;
}

.row {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:.4rem;
}

.display__element__container {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    gap:1rem;
    padding:.5rem;
    height: 10rem;

    /* overflow:scroll; */
    
}

.display-top-container {
    height: 3rem;
}

.calc-btn {
    box-shadow: var(--shadow);
    border-style: none;
    height: 4.6rem;
    width: 4.6rem;
    border-radius: 25px;
    font-size:26px;
    align-items: center;
    justify-content: center;
}

.answer-container {
    padding-top: 0rem;
}

#answer {
    margin-top:0;
}

#btnContainer {
    display: flex;
    flex-direction: column;
    padding:.5rem;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.main-container {
    padding:.5rem .5rem 1rem .5rem;
    display: flex;
    flex-direction: column;
    width:20rem;
    height: 38rem;
    /* border:2px solid black; */
    border-radius: 20px;
    align-items: center;
    justify-content: center;

}



.divider-container {
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: center;
}

.divider {
    width:10rem;
    height: .1rem;
    border-radius: 30rem;
    box-shadow: var(--shadow);
    background-color: var(--clr-dark-foreground);
}

/* Dark Theme */
.main-container-dark {
    background-color: var(--clr-dark-background);
    color:var(--clr-dark-foreground);
}
.row-dark > .calc-btn {
    background-color: var(--clr-dark-foreground);
    color: var(--clr-dark-text);
}

.row-dark > #btnFunctionCancel {
    background-color: var(--clr-dark-primary);
}

.row-dark > .btn-special {
    background-color: var(--clr-dark-alt);
}

.display-dark {
    color:var(--clr-dark-text);
}

/* light theme */

.main-container-light {
    background-color: var(--clr-light-background);
    color:var(--clr-light-foreground);
}

.row-light > .calc-btn {
    background-color: var(--clr-light-foreground);
    color:var(--clr-light-text);
}

.row-light > #btnFunctionCancel {
    background-color: var(--clr-light-primary);
}

.row-light > .btn-special {
    background-color: var(--clr-light-text-alt);
}

.display-light {
    color: var(--clr-light-text);
}





